PORT=7113
HOST = localhost
MONGODB_URI=mongodb+srv://HongVi71103:txQtbwx0KRZurd14@cluster0.oxvnb.mongodb.net/DevMarket?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=2f5ced24b8dd04551c7838840c9ed527be8e971c23a163a0d00e29b01d4eb504
JWT_EXPIRES_IN=30d  

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=nguyenhongvi7112003@gmail.com
EMAIL_PASS= qlit pses rbqg uriu